@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

$white: #ffffff;
$blue_1: #8BC1FF;
$blue_2: #5B8BC2;
$blue_3: #174F90;
$blue_4: #DAE6F4;
$blue_5: #4A90E2;
$blue_6: #8CBAF0;


button{
    &:focus{
        outline: none;
    }
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    .left-heading{
        position: absolute;
        left: -9999px;
    }
    .blocco_1_scroll{
        position: absolute;
        bottom: 41px;
        left: 50%;
        transform: translateX( -50% );
        background-color: transparent;
        padding: 0;
        border: 0;
        border-radius: 0;
        width: 25px;
        height: 40px;
        @include media-breakpoint-down(md){
            bottom: 20px;
        }
        @include media-breakpoint-down(sm){
            display: none;
        }
    }
    #blocco_1{
        position: relative;
        .navbar{
            $left: 27px;
            position: absolute;
            width: calc( 100% - #{($left * 2)});
            left: 0;
            top: 0;
            padding: 25px 0;
            margin: 0 #{$left};
            border-bottom: .5px solid $blue_2;
            .navbar-brand{
                margin-right: 0;
            }
            @include media-breakpoint-down(sm){
                $left: 15px;
                width: calc( 100% - #{($left * 2)});
                margin: 0 #{$left};
            }
            .navbar-toggler{
                border: 0;
                padding: 0;
                border-radius: 0;
                color: $white;
                font-size: 40px;
                line-height: 40px;
            }
            #menu{
                margin-left: 92px;
                @include media-breakpoint-down(md){
                    margin-left: 0;
                    position: absolute;
                    left: 0;
                    top: 110px;
                    .navbar-nav{
                        flex-direction: row;
                    }
                    .nav-item{
                        margin-bottom: 20px;
                    }
                }
                .nav-item{
                    margin-right: 35px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
                .nav-link{
                    color: $white;
                    text-transform: uppercase;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: 0;
                    font-weight: 600;
                    padding: 0;
                }
            }
        }
        #richiedi_info{
            width: 200px;
            height: 45px;
            border-radius: 30px;
            background: linear-gradient(347.250178514065deg, $blue_1, $blue_3);
            color: $white;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 20px;
            font-weight: bold;
            letter-spacing: 0;
            border: 0;
        }
        .blocco_1_image{
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
        .blocco_1_text{
            color: $white;
            $left: 55px;
            position: absolute;
            left: $left;
            bottom: 100px;
            width: calc( 50% - #{$left});
            @include media-breakpoint-down(lg){
                width: calc( 100% - #{( $left * 2 )});
            }
            @include media-breakpoint-down(md){
                bottom: 20px;
            }
            @include media-breakpoint-down(sm){
                $left: 15px;
                left: $left;
                width: calc( 100% - #{( $left * 2 )});
            }
            h2{
                font-weight: 600;
                margin: 0 0 21px;
                font-size: 58px;
                line-height: 57px;
                letter-spacing: 0;
                @include media-breakpoint-down(md){
                    font-size: 29px;
                    line-height: 28.5px;
                    margin-bottom: 16px;
                }
            }
            h3{
                font-weight: 300;
                font-size: 30px;
                line-height: 35px;
                letter-spacing: 0;
                margin: 0 0 25px;
                @include media-breakpoint-down(md){
                    font-size: 20px;
                    line-height: 24px;
                    margin-bottom: 20px;
                }
            }
            p{
                font-size: 15px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 24px;
                margin: 0;
                @include media-breakpoint-down(md){
                    line-height: 18px;
                }
            }
            a{
                display: inline-block;
                margin-top: 60px;
                width: 200px;
                border-radius: 30px;
                text-align: center;
                background: linear-gradient(347.250178514065deg, $blue_1, $blue_3);
                color: $white;
                font-size: 15px;
                line-height: 20px;
                text-transform: uppercase;
                font-weight: bold;
                padding: 20px;
                &:hover{
                  text-decoration: none;
                }
                @include media-breakpoint-down(md){
                    margin-top: 30px;
                }
            }
        }
    }
    #blocco_2{
        padding: 99px 0 105.65px;
        @include media-breakpoint-down(sm){
            padding: 55px 0;
        }
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: calc( 100% - 288px );
            opacity: 20%;
            background-color: $blue_4;
            bottom: 0;
            left: 0;
            z-index: -1;
            border-top-left-radius: 50vw;
            border-top-right-radius: 50vw;
        }
        img{
            max-width: 100%;
        }
        .container{
            position: relative;
            z-index: 1;
        }
        h2{
            margin-bottom: 14.5px;
            font-size: 52px;
            line-height: 56px;
            color: $blue_5;
            margin-top: 18px;
            font-weight: 600;
            text-align: center;
            .alternate_color{
                color: $blue_4;
            }
            @include media-breakpoint-down(md){
                font-size: 29px;
                line-height: 28.5px;
            }
        }
        h3{
            margin-bottom: 13.5px;
            font-weight: 300;
            font-size: 30px;
            line-height: 35px;
            color: $blue_5;
            text-align: center;
            @include media-breakpoint-down(md){
                font-size: 20px;
                line-height: 24px;
            }
        }
        p{
            text-align: center;
            color: $blue_5;
            margin-bottom: 60px;
        }
        .blocco_2_link{
            margin-bottom: 113.31px;
            @include media-breakpoint-down(md){
                margin-bottom: 60px;
            }
            a{
                display: inline-block;
                width: 200px;
                border-radius: 30px;
                text-align: center;
                background: linear-gradient(347.250178514065deg, $blue_1, $blue_3);
                color: $white;
                font-size: 15px;
                line-height: 20px;
                text-transform: uppercase;
                font-weight: bold;
                padding: 20px;
                &:hover{
                  text-decoration: none;
                }
            }
        }
        .row_gallery{
            margin-bottom: 30.04px;
        }
    }
    #blocco_3{
        padding: 98px 0 101px;
        @include media-breakpoint-down(sm){
            padding: 55px 0;
        }
        h2{
            font-weight: 600;
            color: $blue_5;
            font-size: 52px;
            line-height: 56px;
            margin-bottom: 62px;
            @include media-breakpoint-down(md){
                font-size: 29px;
                line-height: 28.5px;
            }
        }
        .prodotto{
            color: $blue_5;
            transition: all 1s ease;
            border-radius: 10px;
            background-color: $white;
            box-shadow: 0 15px 25px 0 rgba(0,0,0,0);
            position: relative;
            height: 100%;
            display: block;
            @include media-breakpoint-down(md){
                height: auto;
            }
            @include media-breakpoint-up(lg){
                &:hover{
                    color: $white;
                    background: linear-gradient(347.250178514065deg, $blue_1, $blue_3);
                    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.15);
                    text-decoration: none;
                }
            }
            .prodotto_immagine{
                height: 280px;
                img{
                    height: auto;
                    max-width: 100%;
                }
            }
            .prodotto_info{
                padding: 20px;
            }
            h3{
                font-size: 30px;
                line-height: 32px;
                font-weight: 600;
                margin-bottom: 2px;
                @include media-breakpoint-down(md){
                    font-size: 20px;
                    line-height: 24px;
                }
            }
            h4{
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                margin-bottom: 21px;
            }
            p{
                font-size: 15px;
                line-height: 24px;
                font-weight: normal;
                margin-bottom: 1px;
            }
            ul{
                padding-left: 14px;
                margin-bottom: 69px;
                li{
                    font-size: 14px;
                    line-height: 24px;
                    strong{
                        font-weight: bold;
                    }
                }
            }
            .prodotto_link{
                font-weight: bold;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 24px;
                margin-top: 15px;
                @include media-breakpoint-up(lg){
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                    margin-top: 0;
                }
            }
        }
        .confronto_modelli{
            a{
                display: inline-block;
                margin-top: 60px;
                width: 240px;
                border-radius: 30px;
                text-align: center;
                background: linear-gradient(347.250178514065deg, $blue_1, $blue_3);
                color: $white;
                font-size: 15px;
                line-height: 20px;
                text-transform: uppercase;
                font-weight: bold;
                padding: 20px;
                &:hover{
                  text-decoration: none;
                }
                @include media-breakpoint-down(sm){
                    margin-top: 30px;
                }
            }
        }
    }
    #blocco_4{
        background-color: $blue_6;
        color: $white;
        padding: 87px 0 97px;
        transition: all .3s ease;
        @include media-breakpoint-down(sm){
            padding: 45px 0;
        }
        &.sfondo_verde{
            background-color: green;
        }
        &.sfondo_rosso{
            background-color: red;
        }
        h2{
            font-size: 52px;
            line-height: 56px;
            font-weight: 600;
            margin-bottom: 16px;
            @include media-breakpoint-down(md){
                font-size: 29px;
                line-height: 28.5px;
            }
        }
        h3{
            font-weight: 300;
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 24px;
            @include media-breakpoint-down(md){
                font-size: 20px;
                line-height: 24px;
            }
        }
        p{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 50px;
            @include media-breakpoint-down(md){
                margin-bottom: 25px;
            }
        }
        .random_item{
            h3{
                margin: 17px 0 3px;
                font-weight: 600;
                font-size: 30px;
                line-height: 32px;
                @include media-breakpoint-down(md){
                    font-size: 20px;
                    line-height: 24px;
                }
            }
            p{
                font-size: 15px;
                line-height: 24px;
                margin-bottom: 0px;
            }
            @include media-breakpoint-down(md){
                margin-bottom: 15px;
            }
        }
        #randomizer{
            margin-top: 60px;
            width: 200px;
            border-radius: 30px;
            text-align: center;
            background: $white;
            color: $blue_5;
            font-size: 15px;
            line-height: 20px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 20px;
            box-shadow: 0 6px 25px 0 rgba(0,0,0,0.2);
            border: 0;
            &:hover{
                text-decoration: none;
            }
            @include media-breakpoint-down(sm){
                margin-top: 30px;
            }
        }
    }
    #contattaci{
        background-color: $blue_5;
        color: $white;
        padding: 97px 0 100px;
        @include media-breakpoint-down(sm){
            padding: 50px 0;
        }
        h2{
            font-weight: 300;
            font-size: 30px;
            line-height: 32px;
            strong{
                font-weight: bold;
            }
            @include media-breakpoint-down(md){
                font-size: 20px;
                line-height: 24px;
            }
        }
        button{
            margin-top: 63px;
            width: 200px;
            border-radius: 30px;
            text-align: center;
            background: $white;
            color: $blue_5;
            font-size: 15px;
            line-height: 20px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 20px;
            box-shadow: 0 6px 25px 0 rgba(0,0,0,0.2);
            border: 0;
            @include media-breakpoint-down(sm){
                margin-top: 30px;
            }
        }
    }
    footer{
        padding-top: 35px;
        .footer_links{
            color: $blue_5;
            font-size: 16px;
            line-height: 22px;
            text-transform: uppercase;
            a{
                color: inherit;
                margin-right: 28px;
                &:hover{
                    color: inherit;
                    text-decoration: none;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .footer_social{
            @include media-breakpoint-down(sm){
                margin-top: 15px;
            }
            a{
                color: $blue_4;
                margin-right: 4px;
                font-size: 40px;
                line-height: 40px;
                &:last-child{
                    margin-right: 0;
                }
                &:hover{
                    color: inherit;
                }
            }
        }
        .footer_distance{
            margin-top: 25px;
        }
        .footer_logo{
            font-size: 16px;
            line-height: 22px;
            color: $blue_5;
            img{
                margin-right: 21px;
            }
            @include media-breakpoint-down(md){
                margin-bottom: 15px;
            }
        }
        .footer_breadcrumbs{
            font-size: 16px;
            line-height: 22px;
            color: $blue_5;
            font-weight: 300;
        }
    }
}

.sliderController{
    background-color: transparent;
    border: 0;
    padding: 0;
    color: $white;
    font-size: 30px;
    line-height: 30px;
    &.sliderControllerProd{
        color: $blue_5;
    }
}